@media screen and (max-width: 986px) {
	.logo-image {
		width: 17vw;
	}
	.MuiGrid-item {
		padding: none !important;
	}
	.navbar-collapse.collapse.in {
		display: block !important;
	}
}
.navbar-toggler {
	margin-right: 0.5rem;
}
.MuiGrid-item {
	padding: none !important;
}
.nav-text {
	font-size: 1.2rem;
}
.hide-text {
	font-size: 1.2rem;
	display: inline;
	padding-right: 5px;
}
.title {
	font-size: 3vh;
	color: var(--yellow);
	text-shadow: 2px 2px 9px black;
	display: inline;
	position: relative;
	margin: 0 0 0 20px !important;
}
.motd {
	font-size: 0.8em;
	margin: 0;
}
.bg-primary {
	background-color: #649f8f !important;
}
.navbar {
	padding: 0;
}
.header--new-container,
.header--hide-caught-container {
	margin-right: 4vw;
}
.icon {
	max-height: 25px;
	max-width: 25px;
}
.p-card .p-card-body {
	padding: 0 1rem !important;
}
a:hover {
	color: rgb(212, 212, 212);
}
.p-inputswitch-slider {
	min-width: 3rem;
}
.MuiSnackbarContent-message > .text {
	font-size: 1.3rem;
	white-space: pre-line;
}
.MuiSnackbarContent-message > .text > .link {
	font-size: 1.3rem;
	color: cyan;
}
